{{#invoice}}
    <div class="card  alert-danger bg-light">
        <div class="d-flex  alert-danger">
            <div class="col-9 card-body">
                <h5 class="card-title">Счет на оплату</h5>
                <h6 class="card-subtitle text-muted">{{name}}</h6>
            </div>
            <div class="col-3 card-body">
                <h5 class="card-title">{{price}} &#8381;</h5>
                <button class="btn btn-primary" onclick="location.href='https://pay.tvoyklass.com/key/{{payLinkKey}}?payFor=invoice&invoiceId={{invoiceid}}'">Оплатить</button>
            </div>
        </div>
    </div>
{{/invoice}}



