<div class="card border-danger mb-3">
    <div class="card-header">
        <h5>⚠️ Внимание! Имеются неоплаченные счета</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">

            {{{invoices}}}

        </div>
    </div>
</div>


