<div class="card border-primary mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>📖 Ближайшие занятия</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">

            {{{lessons}}}

            {{^lessons}}
                <div class="alert alert-warning" role="alert" data-mdb-color="warning">
                    Записи на ближайшие занятия отсутствуют. Вы можете записаться на занятия выше ☝🏻
                </div>
            {{/lessons}}

            <button class="btn btn-outline-primary" onclick="location.href='{{linkPageLessons}}'">Смотреть все</button>

        </div>
    </div>
</div>
