<div class="card border-primary mb-3">
    <div class="card-header">
        <h5>🧑‍🏫 Записаться на урок</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">
            <h5>Выберите длительность урока:</h5>

            <div class="d-flex align-self-center" style="gap: 1rem">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-small" aria-expanded="false" aria-controls="record-small">
                    30 мин
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-medium" aria-expanded="false" aria-controls="record-medium">
                    60 мин
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#record-large" aria-expanded="false" aria-controls="record-large">
                    90 мин
                </button>
            </div>
            <div class="collapse" id="record-small">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass57360"></div>
                    <!-- MoyKlass widget begin -->
                    <script src="https://app.moyklass.com/api/site/widget/?id=U7QcWuvmxHRgkwsADyS8L1PGvHyIfWnYO1" type="text/javascript" charset="UTF-8"></script>
                    <!-- MoyKlass widget end -->
                </div>
            </div>

            <div class="collapse" id="record-medium">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass57194"></div>
                    <!-- MoyKlass widget begin -->
                    <script src="https://app.moyklass.com/api/site/widget/?id=JXNIx9LGLQUoO8p8BAsEnXsUvx8nBiLfYy" type="text/javascript" charset="UTF-8"></script>
                    <!-- MoyKlass widget end -->
                </div>
            </div>

            <div class="collapse" id="record-large">
                <div class="card card-body">
                    <div id="SiteWidgetMoyklass57363"></div>
                    <!-- MoyKlass widget begin -->
                    <script src="https://app.moyklass.com/api/site/widget/?id=KFeZuOsnUCaLuI9hd3NRkzD1IP8nUTXBXw" type="text/javascript" charset="UTF-8"></script>
                    <!-- MoyKlass widget end -->
                </div>
            </div>

        </div>
    </div>
</div>
