<div class="card border-warning mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>✨ Абонементы</h5>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">

            {{{subscriptions}}}

            <button class="btn btn-outline-warning" onclick="location.href='{{linkPageSubscriptions}}'">Смотреть все</button>

        </div>
    </div>
</div>
