{{#student}}
    <div class="row">
        <div class="col-sm-4 card-body">
            <h5 class="card-title">{{name}}</h5>
            <a target="_blank" href="https://t.me/+{{phone}}">💬 Telegram</a>
            <p>+{{phone}}</p>
        </div>
        <div class="col-sm-8 card-body">
            <p>Посещение</p>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Да</button>
                <button type="button" class="btn btn-outline-primary active">Нет</button>
                <button type="button" class="btn btn-outline-primary">Болеет</button>
                <button type="button" class="btn btn-outline-primary">Пробное</button>
            </div>
        </div>
    </div>
{{/student}}
