<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="card text-center">
    <div class="card-header">
        <h1 class="h1">Добро пожаловать в Just Study!👋🏻</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Для вас создана учетная запись:</h5>
        <p class="card-text">Имя: {{name}}</p>
        <p class="card-text">Почта: test@email.ru</p>
        <p class="card-text">Пароль: X1fbFd</p>
        <a href="#" class="btn btn-primary">Перейти на сайт</a>
    </div>
</div>
</body>
</html>
