<div class="col-md-6">
    <div class="card bg-light mb-3">
        <div class="card-header">Ближайшие занятия</div>
        <div class="card-body">
            <div class="d-flex flex-column" style="gap: 1rem">

<!--                {{#lesson}}-->
<!--                    <div class="card">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3 card-body">-->
<!--                                <h5 class="card-title">{{date}}</h5>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted">{{begintime}}-{{endtime}}</h6>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 card-body">-->
<!--                                <h5 class="card-title">{{classid}}</h5>-->
<!--                                <h6 class="card-subtitle mb-2 text-muted">Георгий Кунаев</h6>-->
<!--                                <a href="#" class="card-link mt-5">Отменить</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {{/lesson}}-->

                {{{lessons}}}

            </div>
        </div>
    </div>
</div>
