<div class="card border-primary mb-3">
    <div class="card-header"><h5>Ближайшие занятия</h5></div>
    <div class="card-body">
        <div class="d-flex flex-column" style="gap: 1rem">

            {{{lessons}}}

        </div>
    </div>
</div>
