{{#lesson}}
    <div class="card bg-light">
        <div class="d-flex">
            <div class="col-md-3 card-body">
                <h5 class="card-title">{{newDate}}</h5>
                <h6 class="card-subtitle text-muted">{{begintime}}-{{endtime}}</h6>
            </div>
            <div class="col-md-9 card-body">
                <h5 class="card-title">{{name_group}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{teachers}}</h6>
                <a href="#{{recordId}}" class="local_recordid{{recordId}} card-link local_moyclass_delete_button">Отменить</a>
            </div>
        </div>
    </div>
{{/lesson}}
