{{#lesson}}
    <div class="card">
        <div class="row">
            <div class="col-md-3 card-body">
                <h5 class="card-title">{{date}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{begintime}}-{{endtime}}</h6>
            </div>
            <div class="col-md-9 card-body">
                <h5 class="card-title">{{name_group}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{teachers}}</h6>
                <a href="#{{recordId}}" class="card-link mt-5">Отменить</a>
            </div>
        </div>
    </div>
{{/lesson}}
