{{#lesson}}
    <div class="card">
        <div class="row">
            <div class="col-md-3 card-body">
                <h5 class="card-title">{{date}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{begintime}}-{{endtime}}</h6>
            </div>
            <div class="col-md-9 card-body">
                <h5 class="card-title">{{name_group}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{teachers}}</h6>
<!--                <a href="#" class="card-link local_recordid{{recordId}} local_moyclass_delete_button">Отменить</a>-->
                <button type="button" class="local_recordid{{recordId}} btn btn-link local_moyclass_delete_button">Отменить</button>
            </div>
        </div>
    </div>
{{/lesson}}
