{{#payments}}
    <div class="card bg-light">
        <div class="d-flex">
            <div class="col-md-3 card-body">
                <h5 class="card-title">Платеж</h5>
                <h6 class="card-subtitle text-muted">{{date}}</h6>
            </div>
            <div class="col-md-9 card-body">
                <h5 class="card-title">{{comment}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{summa}} &#8381;</h6>
            </div>
        </div>
    </div>
{{/payments}}
