{{#subscription}}
    <div class="card bg-light">
        <div class="d-flex">
            <div class="col-md-8 card-body">
                <h5 class="card-title">{{name}}</h5>
                <h6 class="card-subtitle mb-3 text-muted">{{name_group}}</h6>
                <h6 class="card-subtitle text-muted">{{newSellDate}}</h6>
            </div>
            <div class="col-md-4 card-body">
                {{#newNextDate}}<h5 class="card-title">Следующая запись: {{newNextDate}}</h5>{{/newNextDate}}
                <h6 class="card-subtitle text-muted">Прошло уроков: {{visits}}</h6>
            </div>
        </div>

    </div>
{{/subscription}}
